# Replace with your bcrypt hashed password (e.g. for 'bercatpwd2024': $2b$10$7MOD0rEBAzJ8FAtlvThBY.GKhv8LFnswAY2zctGf161bhRTITR06q)
ADMIN_PASSWORD_HASH=$2b$10$7MOD0rEBAzJ8FAtlvThBY.GKhv8LFnswAY2zctGf161bhRTITR06q
JWT_SECRET=super_secret_jwt_key_for_indie_rock_map
